*{
  margin: 0;
  padding: 0;
}

.contenedor{
    background-color: #336699;
    width: 19rem;
    padding: 3rem;
    margin: 1rem auto;
    border-radius: 0.5rem;
    height: 15rem;
    margin-top: 100px;
    opacity: 0.6;
    
}

.campo{
   color:#ffffff;
   background-color: #000000;
   padding: 4px 4px 2px 4px;
   font-family: ocrb;
   font-weight: bold;
   font-size: 130%;
   text-align: center;
   display: inline-block;

}

input[type="text"]{
	 border-radius: 5px;
	 border: 1px solid #39c;
	 text-align: center;
}
.submit{
	padding: 5px;
	background-color:#b3ecff;
	border-radius: 5px;
	margin-left: 8px; 

}
#num1{
  font-size: 16px;
}
#num2{
  font-size: 16px;
}

#resultados{
  font-size: 16px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background:#1a66ff;
   color: white;
   text-align: center;
   font-size: 18px;
}